
  .center{
    text-align: center;
  }
  
  h2{
    text-align: center;
    padding: 20px 0;
  }
  
  .table-bordered {
    border: 1px solid #ddd !important;
  }
  
  table caption {
      padding: .5em 0;
  }
  
  @media screen and (max-width: 768px) {
    table caption {
      display: none;
    }
  }
  
  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }

  @media screen and (min-width: 769px){
    #nav0 {
      background-color: black !important;
      padding: 10px 16px;
    }
  }

  @media screen and (max-width: 768px){
    #nav0 {
      background-color: black !important;
      padding: 20px 10px;
    }
  }


  @media screen and (min-width: 769px){
    .navbar-item{
      padding: 10px 20px;    
    }
    .nav-link{
      font-size: 20px !important;
      color: white !important;
      font-family: Georgia;
    }
  }

  @media screen and (max-width: 768px){
    .navbar-item{
      padding: 5px 10px;    
    }
    .nav-link{
      font-size: 10px !important;
      color: white !important;
      font-family: Georgia;
      padding: 0px !important;
    }
  }
  
  #LargeIcon{
    margin: 30px 50px !important;
    height: 100px !important;
  }

  #SmallIcon{
    height: 40px !important;
    margin: 0px 0px 20px !important;
  }

  #footer-container-md{
    padding: 20px 0px !important;
  }

  #FooterLargeIcon{
    height: 80px !important;
  }

  #FooterSmallIcon{
    height: 50px !important;
    padding: 0px !important;
  }

  .hero-foot{
    background-color:black;
  }

  .footer-item-md{
    text-align: center;
    color: white !important;
    font-family: Georgia !important;
    font-size: 2vb !important;
  }

  .footer-item-xs{
    color: white !important;
    font-family: Georgia !important;
    font-size: 15px !important;
    padding-top: 15px;
    text-align: center;
  }

  #footer-p-xs{
    color: white !important;
    text-align: center !important;
    padding-top: 7px !important;
    font-size: 5px !important;
    margin: 5px 15px 15px !important;
  }

  #footer-p-md{
    color: white !important;
    text-align: center !important;
    padding-top: 14px !important;
    font-size: 10px !important;
  }