
h2 {
    text-align: center;
    padding: 20px 0;
  }
  
  .table-bordered {
    border: 1px solid #ddd !important;
  }
  
  table caption {
      padding: .5em 0;
  }
  
  @media screen and (max-width: 767px) {
    table caption {
      display: none;
    }
  }
  
  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }

  #nav0 {
    background-color: black !important;
    padding: 10px 16px;
  }

  .nav-link{
    font-size: large;
    color: white !important;
    font-family: Georgia;
  }

  .navbar-item{
    padding: 10px 20px;    
  }
  
  #LargeIcon{
    margin: 30px 50px !important;
    height: 100px !important;
  }

  #SmallIcon{
    height: 40px !important;
  }