<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PwC Data Breach System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel='stylesheet prefetch' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/rwd.table.min.css'>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<main>
<body>
<section class="hero is-fullheight" >

    <div class="hero-head">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav0">
            <a class="navbar-brand">
                <img class="d-none d-md-block" id="LargeIcon" src="{{ url_for('static', filename='image/PwCIconFinal.png') }}" alt="PwC Icon">
                <img class="d-md-none" id="SmallIcon" src="{{ url_for('static', filename='image/PwCIconFinal.png') }}" alt="PwC Icon">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="{{ url_for('static', filename='image/DropdownIcon.png') }}"></span>
            </button>
            <div class="collapse navbar-collapse navbar-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item"><a href="{{ url_for('main.index') }}" class="nav-link">
                        Home
                    </a></li>
                    {% if current_user.is_authenticated %}
                    <li class="navbar-item"><a href="{{ url_for('main.profile') }}" class="nav-link">
                        Profile
                    </a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <li class="navbar-item"><a href="{{ url_for('auth.login') }}" class="nav-link">
                        Login
                    </a></li>
                    <li class="navbar-item"><a href="{{ url_for('auth.signup') }}" class="nav-link">
                        Sign Up
                    </a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li class="navbar-item"><a href="{{ url_for('auth.logout') }}" class="nav-link">
                        Logout
                    </a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>

    <div class="hero-body" style="background-color:#E6E6E6;">
        <div class="container has-text-centered">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="hero-foot">
        <div class="container d-none d-md-block" id="footer-container-md">
            <div class="row">
                <div class="col-2">
                    <img id="FooterLargeIcon" src="{{ url_for('static', filename='image/PwCIconWhite.png') }}" alt="PwC Icon">
                </div>
                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="center"><a class="footer-item-md" target="_blank" href="https://www.pwchk.com/">PwC Homepage</a></h5>
                        </div>
                        <div class="col-4">
                            <h5 class="center"><a class="footer-item-md" target="_blank" href="https://www.pwchk.com/en/issues/cybersecurity-and-privacy/dark-lab.htmlPwC">Dark Lab</a></h5>
                        </div>
                        <div class="col-4">
                            <h5 class="center"><a class="footer-item-md" target="_blank" href="https://www.pwchk.com/hk/en/global/forms/contactUsNew.html?parentPagePath=/content/pwc/hk/en&style=red">Contact Us</a></h5>
                        </div>
                    </div>
                    <div class="row">
                        <p id="footer-p-md">© 2001 - 2022 PwC. All rights reserved. PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity. Please see www.pwc.com/structure for further details</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-md-none">
            <hr>
            <div class="row">
                <div class="col-12">
                    <h5 class="center"><a class="footer-item-xs" target="_blank" href="https://www.pwchk.com/">PwC Homepage</a></h5>>
                </div>
                <div class="col-12">
                    <h5 class="center"><a class="footer-item-xs" target="_blank" href="https://www.pwchk.com/en/issues/cybersecurity-and-privacy/dark-lab.htmlPwC">Dark Lab</a></h5>>
                </div>
                <div class="col-12">
                    <h5 class="center"><a class="footer-item-xs" target="_blank" href="https://www.pwchk.com/hk/en/global/forms/contactUsNew.html?parentPagePath=/content/pwc/hk/en&style=red">Contact Us</a></h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 center">
                    <img id="FooterSmallIcon" src="{{ url_for('static', filename='image/PwCIconWhite.png') }}" alt="PwC Icon">
                </div>
            </div>
            <div class="row">
                <p id="footer-p-xs">© 2001 - 2022 PwC. All rights reserved. PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity. Please see www.pwc.com/structure for further details</p>
            </div>
        </div>
    </div>
</section>
</main>
{% block javascript %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
</body>
</html>